.btn-default--hex {
	@include makeHex(45deg,9,transparent, #fff);

	font-size: 4vw;
	color: rgb(255, 255, 255);
	text-align: center;
	text-decoration: none;
	padding: 2.45vw 5vw;
	border-top: solid 0.1rem #fff;
	border-bottom: solid 0.1rem #fff;
	text-transform: uppercase;
	position: relative;
	box-sizing: border-box;
}

.view-wrapper {
	#startList + .btn-default--hex {
		@include centringVH(50%,auto);
		bottom:-3%;
	}

	@media screen and (orientation:landscape) {
		#startList + .btn-default--hex {
			@include centringVH(51%,auto);
			bottom:3%;
		}
	}

}


.si__btn {
    @include item(0,1,auto);
}