.si__initials{
	float:left;
	text-align: center;
	height: 100%;
	position: relative;
	width:2.5rem;
	height: 4.3rem;
	letter-spacing: -4px;

	&::before,
	&::after{
		content:'';
		position: absolute;
		-webkit-transform: scale(0.4, 0.76)  rotate(45deg);
		transform:scale(0.4, 0.76) rotate(45deg);
		position: absolute;
		width: 4rem;
		height: 4rem;
		box-sizing:border-box;
		top:0.1rem;
		z-index: -1;
	}


	&::before {
		right:-2rem;
	}

	&::after {
		left:-2rem;
	}
}

.si__initials-wrapper {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	display: block;
}


@media screen and (orientation:landscape) {
	.si__initials{
		float:left;
		text-align: center;
		height: 100%;
		position: relative;
		width:2rem;
		height: 3rem;
		white-space: nowrap;

		&::before,
		&::after{
			content:'';
			position: absolute;
			-webkit-transform: scale(0.4, 0.72)  rotate(45deg);
			transform:scale(0.4, 0.72) rotate(45deg);
			position: absolute;
			width: 2.9rem;
			height: 2.9rem;
			box-sizing:border-box;
			top:0.05rem;
			z-index: -1;
		}


		&::before {
			right:-1.46rem;
		}

		&::after {
			left:-1.47rem;
		}

	}
}
