.si__initials{
   
    display: inline-block;
    background: red;
    text-align: center;
    height: 100%; 
    position: relative;
    
    &::before,
	&::after{
		content:'';
		position: absolute;
		-webkit-transform: scale(0.5, 0.76)  rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		width: 4rem;
		height: 4rem;
		background: green;
		box-sizing:border-box;
		top:0.1rem;
        z-index: -1;
	}


	&::before {
		right:-2rem;
	}

	&::after {
		left:-2rem;
	}
    
}
