.container {
	width: 100vmin;
	min-height: 100vh;
	height:auto;
	background: url(../../../images/bg-small.png) no-repeat 22% center / cover transparent;


	&:after {
		position: absolute;
		content:'';
		background: rgba(70,70,70,0.46);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

	&:before {
		position: absolute;
		content:'';
		background: url(../../../images/pattern.png) repeat left top transparent;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity:0.11;
		z-index: 2;
	}
}

.view-wrapper,
.main-header {
	position: relative;
	z-index: 3;
}


#startList {
	@include container(column,no-wrap,space-between,center,stretch);
}

@media screen and (orientation: landscape) {
	.container {
		width: 100vmax;
		height: 100vh;
		background: url(../../../images/bg-small.png) no-repeat 6% 8%/cover auto transparent;
	}

	#startList {
		@include container(row,no-wrap,space-around,center,stretch);
	}

}
