.score-elements-list {
	@include container(column,no-wrap,space-between,stretch,stretch);
	list-style-type:none;
		height: 100%;
}


@media screen and (orientation: landscape) {
	.score-elements-list {
		@include container(row,wrap,space-between,stretch,stretch);
		max-width:100vw;
	}
}
