$overlayBg: rgba(0,0,0,0.78);

$player1bg: #d53e4f;
$player2bg: #f46d43;
$player3bg: #eebe34;
$player4bg: #66c2a5;
$player5bg: #3288bd;
$player6bg: #5e4fa2;
$player7bg: #2c3e50;
$player8bg: #7f8c8d;

$defaultFont: 'Quicksand', Arial, sans-serif;
