/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*
* flex-direction: row, row-reverse, column, column-reverse   - COMPULSORY
* flex-wrap: wrap, no-wrap, wrap-reverse - OPTIONAL
* justify-content: flex-start, flex-end, center, space-between, space-around - OPTIONAL
* align-items: flex-start, flex-end, center, baseline, stretch - OPTIONAL
* align-content: flex-start, flex-end, center, space-between, space-around, stretch - OPTIONAL
*/
/*
* $grow: unitless number - OPTIONAL, default value provided
* $shrink: unitless number - OPTIONAL, default value provided
* $base: number with a unit (% or px) - OPTIONAL, default value provided
* $order: unitless number - OPTIONAL, default value provided
*/
.container {
  width: 100vmin;
  height: 100vmax; }

@media screen and (orientation: landscape) {
  .container {
    width: 100vmax;
    height: 100vmin; } }
.score-elements-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  list-style-type: none;
  height: 90vmax; }

@media screen and (orientation: landscape) {
  .score-elements-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: no-wrap;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch; } }
.sl__list-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
  outline: 1px solid red; }

.overlay {
  position: absolute;
  top: 3rem;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); }

.hex-field--points {
  display: block;
  width: 50vw;
  height: 30vw;
  background: #ff00ff;
  position: relative;
  margin: 14vw 0 0 0; }
.hex-field--points::before, .hex-field--points::after {
  content: '';
  border-left: 25vw solid transparent;
  border-right: 25vw solid transparent;
  position: absolute;
  width: 0; }
.hex-field--points::before {
  bottom: 100%;
  border-bottom: 14vw solid #ff00ff; }
.hex-field--points::after {
  top: 100%;
  border-top: 14vw solid #ff00ff; }

.hex-field--players {
  display: block;
  width: 50vw;
  height: 30vw;
  background: #00ffff;
  position: relative;
  margin: 14vw 0 0 0; }
.hex-field--players::before, .hex-field--players::after {
  content: '';
  border-left: 25vw solid transparent;
  border-right: 25vw solid transparent;
  position: absolute;
  width: 0; }
.hex-field--players::before {
  bottom: 100%;
  border-bottom: 14vw solid #00ffff; }
.hex-field--players::after {
  top: 100%;
  border-top: 14vw solid #00ffff; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type=number] {
  width: 100%;
  background: none;
  -moz-appearance: textfield;
  border: none;
  border-bottom: 2px solid red; }

/*# sourceMappingURL=main.css.map */
