@mixin hexagon($scale,$colour, $borderColour:null){
	& {
		display: block;
		width: $scale*50vw;
		height: $scale*30vw;
		background: $colour;
		position: relative;
	}

	&::before,
	&::after{
		content:'';
		position: absolute;
		-webkit-transform: scale(0.71,0.377) rotate(-45deg);
		transform: scale(0.71,0.377) rotate(-45deg);
		position: absolute;
		width: $scale*50vw;
		height: $scale*50vw;
		left: 50%;
		margin-left: $scale*(-25vw);
		background: $colour;
		box-sizing:border-box;
	}

	&::before {
		bottom: 16.5%;
		border-top:0.2rem solid $borderColour;
		border-right:0.2rem solid $borderColour;
	}

	&::after {
		top: 17%;
		border-bottom:0.2rem solid $borderColour;
		border-left:0.2rem solid $borderColour;
	}
}


@mixin makeHex($rotate,$scale,$colour, $borderColour:null) {
	& {
		display: inline-block;
		background: $colour;
		position: relative;
		box-sizing:border-box;
	}

	&::before,
	&::after{
		content:'';
		position: absolute;
		-webkit-transform: scale(0.31,0.77) rotate($rotate);
		transform: scale(0.31,0.77) rotate($rotate);
		position: absolute;
		width: $scale*1vw;
		height: $scale*1vw;
		background: $colour;
		box-sizing:border-box;
		top:0;
	}


	&::before {
		right:-4.6vw;
		border-top:0.15rem solid $borderColour;
		border-right:0.15rem solid $borderColour;
	}

	&::after {
		left:-4.6vw;
		border-bottom:0.15rem solid $borderColour;
		border-left:0.15rem solid $borderColour;
	}
}

@mixin centringVH($x,$y, $zindex:null) {
$ty: null;
$tx: null;

	@if $y == auto {
		$ty:0;
	} @else if $x == auto {
		$tx:0;
	}

	@if $y != auto {
		$ty: $y;
	} @else if $x != auto {
		$tx: $x;
	}

	position: absolute;
	left: $x;
	top: $y;
	-webkit-transform:translate(-$tx,-$ty);
		-ms-transform:translate(-$tx,-$ty);
			transform:translate(-$tx,-$ty);
				z-index: $zindex;



				}
