@mixin hexagon($colour, $borderColour:null){
	& {
		display: block;
		width: 50vw;
		height: 30vw;
		background: $colour;
		position: relative;
	}

	&::before,
	&::after{
		content:'';
//		border-left:25vw solid transparent;
//		border-right:25vw solid transparent;
		position: absolute;
		-webkit-transform: scale(0.71,0.377) rotate(-45deg);
		transform: scale(0.71,0.377) rotate(-45deg);
		position: absolute;
		width: 50vw;
		height: 50vw;
		left: 50%;
		margin-left: -25vw;
		background: $colour;
		box-sizing:border-box;
//		position: absolute;
//width: 50.8vw;
//height: 50vw;
//left: 50%;
//margin-left: -25.4vw;

	}

	&::before {
		bottom: 16%;
		border-top:0.2rem solid $borderColour;
		border-right:0.2rem solid $borderColour;
	}

	&::after {
		top: 17%;
		border-bottom:0.2rem solid $borderColour;
		border-left:0.2rem solid $borderColour;
	}
}
