			<header class="main-header">
				<h1 class="h1">Notches</h1>
			</header>
<form action="" id="startList" novalidate>
	<div class="form-input">
		<header class="fi__header">
			<h2 class="h2">Initial number of points</h2>
		</header>
		<div class="hex-field--points">
			<input ng-change="updatePoints(points)" type="number" ng-model="points" id="starting-score" value="0" required placeholder="0"/>
		</div>
	</div>
	<div class="form-input">
		<header class="fi__header">
			<h2 class="h2">No of Players (max 8)</h2>
		</header>
		<div class="hex-field--players">
			<input type="number" ng-change="updatePlayers(players)" id="players-value" ng-model="players" required placeholder="1" value="1"/>
		</div>
	</div>
</form>
<a ng-click="pushObject()" class="btn-default--hex" ng-show="init.points >= 0 && init.players" ng-href="#/scoreKeeper">Start</a>
